<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <form class="create-singer" #f="ngForm" (ngSubmit)="f.form.valid&&ngSubmit()" novalidate>
                    <mat-error class="alert alert-primary">{{status}}</mat-error>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Name Singer:</mat-label>
                        <input matInput name="nameSinger" [(ngModel)]="form.nameSinger" #nameSinger="ngModel" required>
                        <mat-icon color="accent" matSuffix>settings_accessibility</mat-icon>
                        <mat-error *ngIf="nameSinger.hasError('required')">The name Singer is required!</mat-error>
                    </mat-form-field>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Description:</mat-label>
                        <textarea matInput name="description" [(ngModel)]="form.description" #description="ngModel" required></textarea>
                        <mat-icon color="accent" matSuffix>contact_mail</mat-icon>
                        <mat-error *ngIf="description.hasError('required')">The name Singer is required!</mat-error>
                    </mat-form-field>
                    <mat-form-field style="width: 350px" color="accent" appearance="outline">
                        <mat-label>BirthDay</mat-label>
                        <input matInput name="birthDay"  [matDatepicker]="picker1" [(ngModel)]="form.birthDay">
                        <mat-datepicker-toggle  style="color: #f92672" matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <app-upload-avatar (giveURLtoCreate)="onUploadAvatar($event)"></app-upload-avatar>
                    <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Create Singer
                        <mat-icon color="accent" matSuffix>add_circle_outline</mat-icon>
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>
