<!--<nav class="docs-navbar-header" aria-label="Top Toolbar">-->
<!--  <a mat-button class="docs-button" routerLink="/" aria-label="Angular Material">-->
<!--    <img class="docs-angular-logo" src="https://raw.githubusercontent.com/vmudigal/ngx-audio-player/master/src/assets/images/logos/angular/angular-white-transparent.svg"-->
<!--      alt="">-->
<!--    <span>Audio Player</span>-->
<!--  </a>-->
<!--  <a *ngIf="!isLogin" mat-button class="docs-button" routerLink="register" aria-label="Angular Material">-->
<!--    <span>Register</span>-->
<!--  </a>-->
<!--  <a *ngIf="!isLogin" mat-button class="docs-button" routerLink="login" aria-label="Angular Material">-->
<!--    <span>Login</span>-->
<!--  </a>-->
<!--  <a *ngIf="isLogin" mat-button class="docs-button" routerLink="user-account" aria-label="Angular Material">-->
<!--    <span>{{name}}</span>-->
<!--  </a>-->
<!--&lt;!&ndash;  <a  mat-button class="docs-button" routerLink="create-category" aria-label="Angular Material">&ndash;&gt;-->
<!--&lt;!&ndash;    <span>Create Category</span>&ndash;&gt;-->
<!--&lt;!&ndash;  </a>&ndash;&gt;-->
<!--  <a  mat-button class="docs-button" routerLink="page-category" aria-label="Angular Material">-->
<!--    <span>Page Category</span>-->
<!--  </a>-->
<!--  <a  mat-button class="docs-button" routerLink="page-song" aria-label="Angular Material">-->
<!--    <span>Page Song</span>-->
<!--    <mat-icon color="accent" matSuffix>music</mat-icon>-->
<!--  </a>-->





<!--  <a  mat-button class="docs-button" routerLink="create-song" aria-label="Angular Material">-->
<!--    <span>Create Song</span>-->
<!--  </a>-->

<!--  <a  mat-button class="docs-button" routerLink="create-band" aria-label="Angular Material">-->
<!--    <img src="../../../assets/images/icons/create-band.png" height="40" width="40"/><span>Create Band</span>-->
<!--  </a>-->
<!--  <a *ngIf="isCheckAdmin" mat-button class="docs-button" routerLink="page-user" aria-label="Angular Material">-->
<!--    <span>Page User</span>-->
<!--  </a>-->
<!--  <a *ngIf="isLogin" style="color: springgreen; text-decoration: none;"-->
<!--     aria-label="Angular Audio Player"-->
<!--     mat-button tabindex="0" aria-disabled="false" routerLink="change-avatar"><span class="mat-button-wrapper">-->
<!--        <img  style="border-radius: 50%" alt="angular" class="image-change" [src]=avatar width="40px" height="40px"></span>-->
<!--    <div class="mat-button-ripple mat-ripple" matripple=""></div>-->
<!--    <div class="mat-button-focus-overlay"></div>-->
<!--  </a><span class="example-spacer"></span>-->
<!--  <div class="flex-spacer"></div>-->
<!--  <app-theme-picker></app-theme-picker>-->
<!--  <a mat-button class="docs-button docs-navbar-hide-small" target="_blank" href="https://github.com/vmudigal/ngx-audio-player"-->
<!--    aria-label="GitHub Repository">-->
<!--    <img class="docs-angular-logo" src="https://raw.githubusercontent.com/vmudigal/ngx-audio-player/master/src/assets/images/logos/angular/github-circle-white-transparent.svg"-->
<!--      alt="">-->
<!--    GitHub-->
<!--  </a>-->
<!--  <a mat-icon-button class="docs-button docs-navbar-show-small" href="https://github.com/vmudigal/ngx-audio-player"-->
<!--    aria-label="GitHub Repository">-->
<!--    <img class="docs-angular-logo" src="https://raw.githubusercontent.com/vmudigal/ngx-audio-player/master/src/assets/images/logos/angular/github-circle-white-transparent.svg"-->
<!--      alt="">-->
<!--  </a>-->
<!--</nav>-->

<div class="topnav" id="myTopnav">
  <a routerLink="" class="active">Home</a>
  <a *ngIf="!isLogin" routerLink="register">Register</a>
  <a *ngIf="!isLogin" routerLink="login">Login</a>
  <a *ngIf="isLogin">{{name}}</a>
    <a  routerLink="create-category" aria-label="Angular Material">
      <span>Create Category</span>
    </a>
    <a routerLink="page-category" aria-label="Angular Material">
      <span>Page Category</span>
    </a>
    <a   routerLink="page-song" aria-label="Angular Material">
      <span>Page Song</span>
      <mat-icon color="accent" matSuffix>music</mat-icon>
    </a>
    <a  routerLink="create-song" aria-label="Angular Material">
      <span>Create Song</span>
    </a>

    <a  routerLink="create-band" aria-label="Angular Material">
      <img src="../../../assets/images/icons/create-band.png" height="40" width="40"/><span>Create Band</span>
    </a>
    <a *ngIf="isCheckAdmin" mat-button class="docs-button" routerLink="page-user" aria-label="Angular Material">
      <span>Page User</span>
    </a>
    <a *ngIf="isLogin" style="color: springgreen; text-decoration: none;"
       aria-label="Angular Audio Player"
       mat-button tabindex="0" aria-disabled="false" routerLink="change-avatar"><span class="mat-button-wrapper">
          <img  style="border-radius: 50%" alt="angular" class="image-change" [src]=avatar width="40px" height="40px"></span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a><span class="example-spacer"></span>
    <div class="flex-spacer"></div>
    <a mat-button class="docs-button docs-navbar-hide-small" target="_blank" href="https://github.com/vmudigal/ngx-audio-player"
      aria-label="GitHub Repository">
      <img class="docs-angular-logo" src="https://raw.githubusercontent.com/vmudigal/ngx-audio-player/master/src/assets/images/logos/angular/github-circle-white-transparent.svg"
        alt="">
      GitHub
    </a>
  <app-theme-picker></app-theme-picker>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
